.container {
  display: block;
  margin-left: 5rem;
}

.header {
  background-color: #011640;
  width: 20rem;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  align-items: center;
}

.titleContainer {
  color: #FFFFFF;
  margin-bottom: 0;
  margin-left: 38%;
  padding:.3rem;
}

h1.titleContainer { 
  font-family: 'Roboto';
  font-size: 1.75rem;
  text-align: center;
}

.containerButtons {
  background-color: #e2e6ef;
  display: flex;
  width: 20rem;
  height: 18rem;
  flex-direction: column;
  align-items: center;
  /* Alinha os botões à esquerda */
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 20px;
}

.containerButtons button {
  display: block;
  margin: 5px 0;
  /* Adicione espaçamento vertical entre os botões */
  align-items: center;
  font-family: "Roboto";
  height: 30px;
  width: 15rem;
  background: #6085ff;
  color: #e2e6ef;
  border-radius: 7.5px;
  border-color: transparent;
  cursor: pointer;

}

.containerButtons button:hover {
  background-color: #2349c5;
}

.containerButtons a {
  text-decoration: none;
  /* Remove sublinhado */
}