/* Mantenha suas estilizações existentes */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    /* Alinha os itens no início e no final */
    align-items: center;
    padding: 0;
    margin-left: 10rem;
    width: 100%;
    /* Ocupa toda a largura do contêiner pai */
}

.navbar ul li {
    list-style: none;
    margin-right: 10rem;
}

.navbarA {
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    /* Removendo sublinhado */
    color: #011640;
    /* Altere a cor conforme necessário */
}

.accountIcon {
    top: 0.1rem;
    left: 10%;
    position: relative;
}

.inputText {
    width: 682px;
    border-radius: 20px;
    border: 2px solid #011640;
}

.dropdown-menu {
    scrollbar-width: thin;
}

.dropdown-menu::-webkit-scrollbar {
    width: 8px;
}

.dropdown-menu::-webkit-scrollbar-track {
    background: #011640;
    /* Cor de fundo da pista */
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background: #fff;
    /* Cor do botão da barra de rolagem */
    border-radius: 4px;
}

/* Alterar a fonte para Roboto */
.dropdown-menu,
.dropdown-menu .option {
    font-family: 'Roboto', sans-serif;
    color: #011640;
    /* Cor do texto */
}

.dropdown-control {
    background-color: #fff;
    border: none;
    /* Remover borda */
    border-radius: 4px;
    color: #333;
    padding: 8px 12px;
    cursor: pointer;
    width: 12rem;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: none;
    /* Remover borda */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu .option {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-menu .option:hover {
    background-color: #f0f0f0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown img {
    cursor: pointer;
}

.dropdownContent {
    position: absolute;
    flex-direction: column;
    top: calc(100% + 5px);
    /* Posicionamento abaixo do ícone de conta com um pequeno espaço */
    right: 0;
    background-color: #f9f9f9;
    min-width: 10rem;
    width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 5px 0;
    border-radius: 5px;
}

.dropdownContent li {
    padding: 10px;
    margin-left: 10rem;
}

.dropdownContent li a {
    text-decoration: none;
    color: #000;
    display: block;
    cursor: pointer;
}

.dropdownContent li a:hover {
    text-decoration: none;
    /* Adiciona sublinhado ao passar o mouse */
    color: #6085FF;
    /* Altera a cor do texto ao passar o mouse */
    background-color: transparent;
    /* Remove a cor de fundo ao passar o mouse */
}