.resumo {
  width: 10.5%;
  height: 32%;
  background-color: #e2e6ef;
  position: fixed;
  top: 12.7%;
  right: 23%;
  padding: .5%;
  border-radius: 5px;
  font-size: 90%;
}

.btn, .btnContinuar, .btnCupom {
  height: 12%;
  width: 90%;
  background: #6085ff;
  color: #e2e6ef;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  margin: 10px;
}

.link {
  color: #e2e6ef;
  text-decoration: none;
}

.btn:hover, .btnCupom:hover {
  background-color: #2349c5;
}

.btnContinuar {
  background: #011640;
}

.btnContinuar:hover {
  background-color: #04338f;
}

.btnCupom {
  margin-top: -1%;
  height: 2.25rem;
}

.cupom {
  width: 10.5%;
  position: fixed;
  top: 49%;
  right: 23%;
  background-color: #e2e6ef;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  font-size: 85%;
  font-family: "Roboto";
}

.inputTextCupom {
  font-size: 100%;
  font-family: "Roboto";
  width: 80%;
  max-height: 30px;
  background-color: #FFFFFF;
  margin-left: 10px;
  height: 100px;
  border-radius: 5px;
  border-color: transparent;
  margin-bottom: 20px;
  padding-left: 10px;
}