.home {
  align-items: center;
  margin-bottom: 200px;
}

.banner {
    width: 100%;
}

.titleNewProducts {
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #011640;
  margin-top: 3%;
  margin-left: 60%;
}

.listProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}


.pagination {
  margin-top: 1.5%;
  text-align: center;
}

.pagination button {
  background-color: #6085FF;
  border: none;
  color: black;
  padding: .25% .9%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 2%;
  cursor: pointer;
  border-radius: 20%;
  color: white;
  font-weight: bold;
  font-family: 'Roboto';
}

.pagination button:hover {
  background-color: #011640; 
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.paginaAtual{
  color: #6085FF;
  font-weight: bold;
  font-family: 'Roboto';
}

.totalPaginas{
  color: #000a99;
  font-weight: bold;
  font-family: 'Roboto';
}

.btnIconFilter, .btnIconGemini {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  width: 10%; 
  height: 10%; 
  position: fixed;
  z-index: 9999;
}

.btnIconFilter {
  left: 2%;
  top: 85%;
}

.btnIconGemini {
  right: -3%;
  top: 85%;
}

.iconFilter, .iconGemini {
  width: 90%;
  height: 90%;
  flex: 3;
}

.btnIcon {
  justify-content: flex-end;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}

.justifyText {
  text-align: justify;
  font-size: 1.25rem;
}

.centerText {
  text-align: center;
  font-size: 1.25rem;
}