.selectPagamento {
  display: block;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background-color: #e2e6ef;
  margin: 1.15%;
  margin-top: -1rem;
  width: 41%;
  max-height: auto;
  border-radius: 7.5px;
  font-family: "Roboto", sans-serif;
  color: #011640;
  font-size: 85%;
  padding: 1%;
}

.cupomList {
  margin: 10px;
  margin-bottom: 4%;
}

h1 {
  margin: 10px;
}

li {
  list-style: none;
}

p {
  margin: 10px;
  margin-left: 2%;
}

.functionsCartoes {
  display: flex;
}

.functionsCartoes button {
  margin-right: .05%;
}

.btnNovoCartao,
.btnEditValorParcial {
  height: 30px;
  max-width: 150px;
  background: #6085ff;
  color: #e2e6ef;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  margin: 10px;
}

.btnEditValorParcial {
  background: #011640
}

.btnNovoCartao:hover,
.btnEditValorParcial:hover {
  background-color: #2349c5;
}

.cupomParcial p {
  font-family: 'Roboto';
  font-weight: bold;
  color: #011640;
}

.inputEditValorParcial {
  font-size: 100%;
  font-family: "Roboto";
  width: 20%;
  max-height: 30px;
  background-color: #FFFFFF;
  margin-left: 10px;
  height: 100px;
  border-radius: 5px;
  border-color: transparent;
  margin-bottom: 20px;
  padding-left: 10px;
  transition: border-color 0.2s ease;
}

.inputEditValorParcial:focus {
  border: 2px solid #2684ff;
  outline: none;
  /* Remove a borda padrão do navegador */
}