/* ProdutosHome.module.css */

.productGame {
  position: relative;
  background-color: #e2e6ef;
  padding: 20px;
  text-align: center;
  /* Limitar o tamanho dos produtos para evitar vazamentos */
  max-width: 250px;
  /* Adicionar quebras de texto para o conteúdo interno se ajustar */
  word-wrap: break-word;
  border-radius: 5px;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  color: #011640;
}

.price {
  font-family: "Roboto", sans-serif;
  color: #6085FF;
}

.btnComprar {
  height: 30px;
  width: 70%;
  background: #6085ff;
  color: #e2e6ef;
  border-radius: 7.5px;
  border-color: transparent;
  cursor: pointer;
}

.btnComprar:hover {
  background-color: #2349c5;
}

.productContainer {
  display: flex;
  justify-content: center;
}
/* Estilo para a div que contém a imagem do produto */
.imgContainer {
  width: 40%;
  height: 20%;
  margin-right: 2%;
}

/* Estilo para a imagem do produto */
.productImage {
  width: 100%;
  height: auto;
}

/* Estilo para o container das informações do produto */
.productInfo {
  margin-top: 2%;
  margin-left: 2%;
  text-align: justify; /* Justificar o texto */
}

.productInfo p {
  font-family: 'Roboto';
}

.precoProduto {
  color: #6085FF;
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 5%;
}