.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2E6EF;
    width: 26rem;
    height: 5rem;
    border-radius: 5px;
    left: 7.5%;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
}

.infoDivider {
    left: 3%;
    border: 1px solid grey;

    position: relative;
}

.iconInfo {
    width: 80%;
    height: 80%;
    flex: 3;
}

.iconDelete {
    width: 75%;
    height: 75%;
    flex: 3;
}

.btnIconInfo {
    left: 10%;
    top: 1.3px;
    justify-content: flex-end;
    background: none;
    border: none;   
    padding: 0;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    position: relative;
}

.btnIconDelete {
    justify-content: flex-end;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    position: relative;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
}